{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Remarkable - Contact</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleaapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">


  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/style2.css' %}" rel="stylesheet">


  <link href="{% static 'css/nav.css' %}" rel="stylesheet">
   <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <nav class="navbar fixed-top navbar-light white scrolling-navbar">

    <!-- FOR ALL SCREENS EXCEPT SMALL -->
    <div class="nav-container-1 d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">

      
        <!-- Navbar brand -->
        <a class="navbar-brand text-dark" href="{% url 'profiles:index-view' %}">Remarkable</a>
    
        <ul class="nav nav-items text-dark">
      
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'profiles:contact' %}">Contact Us</a>
    </li>   
        <!-- Dropdown -->
       
    
        </ul>
    
    <!-- END NAV SEARCH -->
    
    </div>
    
    
    <!-- Dropdown -->
   
    {% if user.is_authenticated %}
    <div class="navbar-nav dropdown d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">
        <a class="nav-link text-dark" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
       Hi, {{ request.user|capfirst }}
        </a>
        <div class="dropdown-menu dropdown-primary mr-lg-5 mr-md-5" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'profiles:logout' %}">Logout</a>
        </div>
    </div>
    {% else %}
    <div class="navbar-nav dropdown d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">
      <a class="nav-link text-dark" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Get Started
      </a>
      <div class="dropdown-menu dropdown-primary mr-lg-5 mr-md-5" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'profiles:register' %}">Register</a>
          <a class="dropdown-item" href="{% url 'profiles:login' %}">Login</a>
      </div>
  </div>
  {% endif %}



    
    
    <!-- END FOR ALL SCREENS EXCEPT SMALL -->
    
    
    
    <!-- FOR SMALL SCREENS -->
    <div class="nav-container-2 d-flex d-lg-none d-md-none d-sm-flex d-flex">
    
    <div class="d-flex justify-content-start">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
     <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

      
            <!-- Navbar brand -->
        <a class="navbar-brand text-dark" href="{% url 'profiles:index-view' %}">Remarkable</a>
    
        <!-- Links -->
       

      <ul class="nav nav-items text-dark">
        <li class="nav-item active">
            <a class="nav-link text-dark" href="{% url 'profiles:contact' %}">Contact Us</a>
        </li>
    </ul>
    
           
        
        <!-- Dropdown -->
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
            <a class="nav-link text-dark" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Hi, {{ request.user|capfirst }}
            </a>
            <div class="dropdown-menu dropdown-primary mr-lg-5 mr-md-5" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'profiles:logout' %}">Logout</a>
            </div>
        </div>

        {% else %}
        <div class="nav-item dropdown">
          <a class="nav-link text-dark" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Get Started
          </a>
          <div class="dropdown-menu dropdown-primary mr-lg-5 mr-md-5" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'profiles:register' %}">Register</a>
              <a class="dropdown-item" href="{% url 'profiles:login' %}">Login</a>
          </div>
      </div>
      {% endif %}
        
    
      </div>  <!-- Collapsible content -->
    
    
    </div><!-- END FOR SMALL SCREENS -->
    
    </nav>




  <main id="main">

  

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 class="title">Contact Us</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
             
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15949.956360598342!2d30.084552219098484!3d-1.9578905318920299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca65f818d7abb%3A0x3365ea4646012e41!2sRugando%2C%20Kigali!5e0!3m2!1sen!2srw!4v1603967376013!5m2!1sen!2srw frameborder="0" style="border:0; width: 100%; height: 500px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="" method="post" role="form" class="django-email-form">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required="true" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" required="true" data-msg="Please write something for us"></textarea>
               
              </div>
              {#% if user.is_authenticated %#}
              <div class="text-center"><button type="submit">Send Message</button></div>
              {#% else %#}
              <!-- <div class="text-center">Click <a class="" href="">Login</a> Link To be able to send your message</div>
               -->
              {#% endif %#}
            
            </form>

           
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->


 


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

     <!-- ======= subscribe ======= -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
            <h3>Remarkable</h3><br>
            
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <br> <br>
                <p>KG 609 St</p>
              </div>
              <br>

              <div class="email">
                <i class="icofont-envelope"></i>
                <br> <br>
                <p>remarkable2507@gmail.com</p>
              </div>

              <br>

              <div class="phone">
                <i class="icofont-phone"></i>
              <br> <br>
                <p>+0250 788 888 888</p>
              </div>
        
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
            <h4>Some useful Terms</h4>
            <ul>
              <li><a href="#home"><i class="icofont-simple-up"></i>Home</a></li>
              <li><a href="#about"><i class="icofont-simple-up"></i>About us</a></li>
              <li><a href="#how-it-works"><i class="icofont-simple-up"></i>How it Works</a></li>
              <li><a href="#services"><i class="icofont-simple-up"></i>Services</a></li>
              <li><a href="#contact"><i class="icofont-simple-up"></i>Contact Us</a></li>
              <li><a href="#"><i class="icofont-simple-up"></i>Terms and Conditions</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
            <h4>Our Services</h4>
            <ul>
              <li><i class="icofont-simple-up"></i>Booking</li>
              <li><i class="icofont-simple-up"></i>Advices</li>
              <li><i class="icofont-simple-up"></i>Assistance</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
            <h4>Our Social Networks</h4>
            <p>For more updates follow us on our social networks like twitter,facebbok,instagram and more videos on our youtube Channel.</p>
            <div class="social-links mt-3">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-youtube"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4 copyrightdiv">
      <div class="copyright">
        &copy; <strong><span>Remarkable</span></strong>. All Rights Reserved Designed by <a href="#"> Xv</a>
      </div>
      <!-- <div class="credits"></div>
        Designed by <a href="#"> XO</a>
      </div> -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>



 








</body>

</html>